* {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.container {
    width: 100%;
    height: 600px;
    background-image: url(../resources/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 20px;

}

.container-text {
    text-align: center;
    color: rgb(250, 87, 12);
    padding-top: 90px;
    font-size: 40px;
    font-weight: 400;

}

.container-text-below {
    font-size: 70px;
    text-align: center;
    color: #e10909;
    font-weight: 900;
    margin-top: -30px;

}

.offer {
    text-align: center;
}

.offer-text {
    font-size: 90px;
    color: #e10909;

}

.offer-deal {
    font-size: 26px;
    color: red;
    font-weight: 500;
    font-family: inter;
}

.offer-categories {
    font-size: 48px;
    color: black;
    font-weight: 700;


}

.party {
    width: 100%;
    height: 600px;
    background-image: url(../resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 20px;
}

.party-banner {
    display: flex;
    padding-left: 800px;
    padding-top: 100px;


}

.party-title {
    color: rgb(226, 227, 228);
    font-size: 70px;
    line-height: 80px;

}

.party-paragraph {
    color: rgb(230, 235, 239);
    font-size: 18px;

}

.button {
    background-color: black;
    color: white;
    font-size: 25px;
    border-radius: 25px;
    padding: 20px;
    font-weight: 500;
}

.btn {
    background-color: red;
    color: white;
    font-size: 25px;
    border-radius: 25px;
    padding: 20px;
    font-weight: 500;

}


.address-container {
    width: 1320px;
    height: 483px;
    margin: 0px 80px 0px 585px;

}

address {
    font-size: 32px;
    background-position: center;
    background-color: lightpink;
    text-align: center;
    padding-top: 50px;
    border-radius: 20px;

}

.address-info {
    color: #e10909;
}

.best-offer {
    display: flex;
    padding: 5px 200px 5px 600px;

}

.best-offer .title {
    color: #e10909;
    font-weight: 500;
    font-size: 26px;
    margin-top: 120px;
    margin-bottom: -40px;
}

.best-offer .title-comming {
    font-size: 48px;
    font-weight: 900;
    color: black;


}

.best-offer .title-describe {
    font-size: 20px;
    color: lightslategrey;

}

.best-offer .title-image {
    border: #e10909;
    margin: 20px;
}

.best-offer .title-image {
    border: 15px solid red;
    border-radius: 400px;
}

.best-offer .title-2024 {
    font-size: 50px;
    color: #e10909;
    font-weight: 700;
    padding-top: 60px;
    padding-left: 80px;

}

.best-offer .title-description {
    font-size: 22px;
    color: rgba(7, 2, 17, 0.60);
    padding-left: 80px;

}

.best-offer .img {
    margin-left: 90px;
}

.holiday {
    width: 100%;
    height: 100%;
    text-align: center;
}

.holiday .function {
    font-size: 25px;
    font-weight: 500;
    color: black;
    padding: 900;
}

.holiday .function-title {
    font-size: 72px;
    font-weight: 900;
    color: black;
    padding-bottom: 20px;
    margin-top: -20px;
}

.holiday .function-title .red {
    color: #e10909;
}

.function-description {
    margin-top: -50px;
    color: rgba(7, 2, 17, 0.60);
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.border {
    background-color: rgb(213, 34, 60);
    background-image: url('../resources/Rectangle\ 1.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size:auto;
    width: 1350px;
    height: 400px;
    padding-top: 150px;
    margin-left: 550px;
    border-radius: 15px 0px 15px 15px;
}
.border .banner{
    display: flex;

}
.border .banner .image-1{
    align-items: center;

}
.products-picture{
    text-align: left;
    padding-left: 600px;

}

.products-picture .gifts{
    color: #f00;
    font-size: 24px;
    font-weight: 500;

}
.products-picture .portfolio{
    font-size: 48px;
    font-weight: 900;
    color: #070211;
}
.products-picture .describe{
    font-size: 20px;
    font-weight: 300;
    color: rgba(7, 2, 17, 0.60);
}
.pictures{
    text-align: center;
}
